body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  gap: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav i {
  font-size: 2rem;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.logo-text-first-letter {
  color: black;
  font-size: 3rem;
}

main,
section {
  display: flex;
  flex-direction: column;
}

main {
  gap: 4rem;
}

section {
  gap: 1rem;
}

.intro-description {
  max-width: 450px;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.cards-grid {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tech-list {
  display: flex;
  gap: 2rem;
}

/* >640px */

@media (min-width: 640px) {
  .project-card {
    flex-direction: row;
  }

  .project-card img {
    max-width: 40%;
  }
}
